<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css">
    <link href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/soft-ui-dashboard.min.css?v=1.0.2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1548903334937961" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-dark z-index-3 py-3">
        <div class="container">
            <a class="navbar-brand text-white" href="../index.html" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom"><strong>OfficiallySp</strong></a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse ps-lg-5" id="navigation">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuGame" data-bs-toggle="dropdown" aria-expanded="false">Games</a>
                                <a class="dropdown-item py-2 ps-3 border-radius-md" href="/pages/unite.html">
                                    <div class="d-flex">
                                        <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                        <div class="w-100 d-flex align-items-center justify-content-between">
                                            <div>
                                                <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                    Sonic Unite<br>
                                                </h6>
                                                Sonic Fangame For SAGE 22
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item py-2 ps-3 border-radius-md">
                                    <div class="d-flex">
                                        <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                        <div class="w-100 d-flex align-items-center justify-content-between">
                                            <div>
                                                <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                    Tankalot Series<br>
                                                </h6>
                                                Core Games and Spinoffs
                                            </div>
                                            <img src="https://demos.creative-tim.com/soft-ui-design-system/assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-menu mt-0 py-3 px-2 mt-3" aria-labelledby="pageSections">
                                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="/pages/tankalot.html">
                                        <div class="d-flex">
                                            <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                            <div class="w-100 d-flex align-items-center justify-content-between">
                                                <div>
                                                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                        Tankalot Remastered<br>
                                                    </h6>
                                                    Remake of the 2017 Original
                                                </div>
                                            </div>
                                        </div>
                                    </a><a class="dropdown-item py-2 ps-3 border-radius-md" href="/pages/tpl.html">
                                        <div class="d-flex">
                                            <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                            <div class="w-100 d-flex align-items-center justify-content-between">
                                                <div>
                                                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                        Tankalot Puzzle League<br>
                                                    </h6>
                                                    Fast Paced Puzzle Fun
                                                </div>
                                            </div>
                                        </div>
                                    </a><a class="dropdown-item py-2 ps-3 border-radius-md" href="/pages/tanklegacy.html">
                                        <div class="d-flex">
                                            <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                            <div class="w-100 d-flex align-items-center justify-content-between">
                                                <div>
                                                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                        Tankalot Legacy<br>
                                                    </h6>
                                                    Classic Version of Tankalot
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
            </div>
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuApps" data-bs-toggle="dropdown" aria-expanded="false">Apps</a>
                        <a class="dropdown-item py-2 ps-3 border-radius-md">
                            <div class="d-flex">
                                <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                <div class="w-100 d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                            CSharp<br>
                                        </h6>
                                        Apps made Using C# + Unity
                                    </div>
                                    <img src="https://demos.creative-tim.com/soft-ui-design-system/assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu mt-0 py-3 px-2 mt-3" aria-labelledby="pageSections">
                            <a class="dropdown-item py-2 ps-3 border-radius-md" href="/pages/riftrandomizer.html">
                                <div class="d-flex">
                                    <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                    <div class="w-100 d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                RiftRandomizer<br>
                                            </h6>
                                            League Customs Turned up to 11
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a class="dropdown-item py-2 ps-3 border-radius-md">
                            <div class="d-flex">
                                <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                <div class="w-100 d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                            Python<br>
                                        </h6>
                                        Python Based Apps
                                    </div>
                                    <img src="https://demos.creative-tim.com/soft-ui-design-system/assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu mt-0 py-3 px-2 mt-3" aria-labelledby="pageSections">
                            <a class="dropdown-item py-2 ps-3 border-radius-md" href="/pages/lolannouncer.html">
                                <div class="d-flex">
                                    <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                    <div class="w-100 d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                League Announcer<br>
                                            </h6>
                                            Custom Announcers Made Simple
                                        </div>
                                    </div>
                                </div>
                            </a><a class="dropdown-item py-2 ps-3 border-radius-md" href="/pages/lolmmr.html">
                                <div class="d-flex">
                                    <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                    <div class="w-100 d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                MMRCharts<br>
                                            </h6>
                                            MMR Distribution Graphs For LoL
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a class="dropdown-item py-2 ps-3 border-radius-md">
                            <div class="d-flex">
                                <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                <div class="w-100 d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                            Electron Based<br>
                                        </h6>
                                        Electron Web Apps
                                    </div>
                                    <img src="https://demos.creative-tim.com/soft-ui-design-system/assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu mt-0 py-3 px-2 mt-3" aria-labelledby="pageSections">
                            <a class="dropdown-item py-2 ps-3 border-radius-md" href="/pages/feathercord.html">
                                <div class="d-flex">
                                    <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                    <div class="w-100 d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                Feathercord<br>
                                            </h6>
                                            Lightweight Alternative Discord Client
                                        </div>
                                    </div>
                                </div>
                            </a><a class="dropdown-item py-2 ps-3 border-radius-md" href="/pages/d2tools.html">
                                <div class="d-flex">
                                    <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                                    <div class="w-100 d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                                DestinyTools<br>
                                            </h6>
                                            Suite of Webapps for Destiny 2
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
        </div>
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuMore" data-bs-toggle="dropdown" aria-expanded="false">More</a>
            <ul class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuApps">
                <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="/pages/lolpacks.html">
                        <div class="d-flex">
                            <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                            <div class="w-100 d-flex align-items-center justify-content-between">
                                <div>
                                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                        League Announcer Packs<br>
                                    </h6>
                                    Pack Downloads For League Announcer
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="/pages/lolmmr.html">
                        <div class="d-flex">
                            <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                            <div class="w-100 d-flex align-items-center justify-content-between">
                                <div>
                                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                        MMRCharts<br>
                                    </h6>
                                    MMR Distribution Graphs for LoL
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="/pages/tankalotnet.html">
                        <div class="d-flex">
                            <div class="icon h-10 me-3 d-flex mt-1"><i class="ni ni-single-copy-04 text-gradient text-primary"></i></div>
                            <div class="w-100 d-flex align-items-center justify-content-between">
                                <div>
                                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                                        Tankalot.net<br>
                                    </h6>
                                    Backend system for Tankalot games
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
    </nav>
</body>

</html>